<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div  align="center">
        <h1>Admission Form </h1>
    </div>
    <div class="container center">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-pattern ng-valid-minlength">
                <div class="form-group">
                    <label class="col-md-3  control-label">Full Name* </label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text" placeholder="First Name"
                            class="form-control " /> 
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text" placeholder="Last Name"
                            class="form-control "
                            ng-model="LastName" required=""> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Date Of Birth</label>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <select type="text"
                            class="form-control "
                            placeholder="Year" id="yearbox" ng-model="yearbox" ng-init="yearbox=''"
                            required="">
                            <option value="">year </option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2008">2016</option>
                            <option value="2009">2017</option>
                            <option value="2010">2018</option>
                            <option value="2011">2019</option>
                            <option value="2012">2020</option>
                            <option value="2013">2021</option>
                            
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <select type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            placeholder="Month" ng-model="monthbox" ng-init="monthbox=''" required="">
                            <option value="">Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <select type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            placeholder="Day" id="daybox" ng-model="daybox" ng-init="daybox=''" required="">
                            <option value=""> Day </option>
                            <option value="1">1 </option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Gender*</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <label> <input type="radio" name="radiooptions"
                                ng-model="radiovalue" value="Male" required=""
                                class="ng-pristine ng-untouched ng-invalid ng-invalid-required"> Male
                        </label>
                        <label>
                            <input type="radio" name="radiooptions" ng-model="radiovalue" value="FeMale"
                                class="ng-pristine ng-untouched ng-valid"> FeMale</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Phone*</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="tel"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="Phone"  required="" pattern="^\d{10}$"> </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Father Name*</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="Father"  required="" > </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Mother Name*</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="Mother"  required="" > </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Select State</label>
                <div class="contact-fild-box">
                    <div class="col-md-4 col-xs-4 col-sm-4">
                    <select name="state" id="stateid" onchange="select_state_func()" data-errormessage-value-missing="* State is required!" class="form-select validate[required] form-control">
                      <option value="">Select State*</option>
                     <option value="1">Andaman &amp; Nicobar Islands</option>
                      <option value="2">Andhra Pradesh</option>
                      <option value="3">Arunachal Pradesh</option>
                      <option value="4">Assam</option>
                      <option value="5">Bihar</option>
                      <option value="6">Chandigarh</option>
                      <option value="7">Chhattisgarh</option>
                      <option value="32">Dadra &amp; Nagar Haveli</option>
                      <option value="33">Daman &amp; Diu</option>
                      <option value="8">Delhi &amp; NCR</option>
                      <option value="9">Goa</option>
                      <option value="10">Gujarat</option>
                      <option value="11">Haryana</option>
                      <option value="12">Himachal Pradesh</option>
                      <option value="13">Jammu and Kashmir</option>
                      <option value="14">Jharkhand</option>
                      <option value="15">Karnataka</option>
                      <option value="16">Kerala</option>
                      <option value="17">Madhya Pradesh</option>
                      <option value="18">Maharashtra</option>
                      <option value="19">Manipur</option>
                      <option value="20">Meghalaya</option>
                      <option value="21">Mizoram</option>
                      <option value="22">Nagaland</option>
                      <option value="23">Orissa</option>
                      <option value="24">Pondicherry</option>
                      <option value="25">Punjab</option>
                      <option value="26">Rajasthan</option>
                      <option value="34">Sikkim</option>
                      <option value="27">Tamil Nadu</option>
                      <option value="36">Telangana</option>
                      <option value="28">Tripura</option>
                      <option value="29">Uttar Pradesh</option>
                      <option value="30">Uttaranchal</option>
                      <option value="31">West Bengal</option>
                    </select>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Enter District Name</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="District"  required="" > </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Current Address</label>
                    <div class="col-md-8 col-xs-8 col-sm-8"> <textarea rows="3"
                            class="form-control ng-pristine ng-untouched ng-valid"
                            ng-model="Adress"> </textarea> </div><br/><br/><br><br>
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label">permanent  Address</label>
                            <div class="col-md-8 col-xs-8 col-sm-8"> <textarea rows="3"
                                    class="form-control ng-pristine ng-untouched ng-valid"
                                    ng-model="Adress"> </textarea> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Previews School Name</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="school"  required="" size="30"> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-3 col-sm-3 control-label">Previews Class</label>
                    <div class="col-md-4 col-xs-4 col-sm-4"> <input type="text"
                            class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern"
                            ng-model="school"  required="" size="30"> </div>
                </div>
                
                  <div class="form-group">
                  <div class="form-check d-flex justify-content-start mb-4 pb-3 text" >
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                      site.
                    </label>
                  </div>
                  <button type="button" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
                  </div>
                  
</div>
</body>
</html>